
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutSVDN.cshtml";
}

<div class="wrapper" style="margin: 55px 60px;">
    <div class="title" style="
              display: flex;
              justify-content: space-between;
              border-bottom: 0.5px dashed blue;
            ">
        <div style="margin-top: 20px;">
            <h2>THÔNG TIN HOẠT ĐỘNG "SINH VIÊN NĂM TỐT"</h2>
        </div>
        <div style="padding-top: 20px;">
            <span>sinh viên theo dõi các hoạt động sinh viên năm tốt</span>
        </div>
    </div>
    <div style="margin-top: 30px;" class="content">
        <div class="row mb-5">
            <div class="col-2">
                <div class="content-img">
                    <img width="100%" src="https://api.hutech.edu.vn/files/public/file-news-hutech-1/news/da1a5d0c1b168ea94f8039ed584ca596.jpg" alt="" />
                </div>
            </div>
            <div class="col-10">
                <div class="content-content">
                    <a href="">
                        LỚP TIẾNG ANH B1 VÀ LỚP CHUYÊN ĐỀ KỸ NĂNG DÀNH CHO NGUỒN "SINH
                        VIÊN 5 TỐT" 2019 - 2020
                    </a>
                    <p>
                        Tổ chức Lớp ôn tập, luyên Anh văn trình độ B1 dành cho sinh viên
                        đã đăng ký và phấn đấu đạt danh hiệu “Sinh viên 5 tốt” các cấp
                        (thời gian ôn tập 2 tuần, mỗi buổi 3 tiết, tổng cộng 18 tiết).
                        Tổ chức đánh giá bằng kỳ thi chứng chỉ Anh văn B1, các sinh viên
                        có kết quả đạt kỳ thi này sẽ được cấp chứng chỉ trình độ B1
                        Tiếng Anh. - Tổ chức các Lớp chuyên đề kỹ năng và cấp Giấy Chứng
                        nhận kỹ năng cho các bạn sinh viên hoàn thành khóa học.
                    </p>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-2">
                <div class="content-img">
                    <img width="100%" src="https://api.hutech.edu.vn/files/public/file-news-hutech-1/news/da1a5d0c1b168ea94f8039ed584ca596.jpg" alt="" />
                </div>
            </div>
            <div class="col-10">
                <div class="content-content">
                    <a href="">
                        LỚP TIẾNG ANH B1 VÀ LỚP CHUYÊN ĐỀ KỸ NĂNG DÀNH CHO NGUỒN "SINH
                        VIÊN 5 TỐT" 2019 - 2020
                    </a>
                    <p>
                        Tổ chức Lớp ôn tập, luyên Anh văn trình độ B1 dành cho sinh viên
                        đã đăng ký và phấn đấu đạt danh hiệu “Sinh viên 5 tốt” các cấp
                        (thời gian ôn tập 2 tuần, mỗi buổi 3 tiết, tổng cộng 18 tiết).
                        Tổ chức đánh giá bằng kỳ thi chứng chỉ Anh văn B1, các sinh viên
                        có kết quả đạt kỳ thi này sẽ được cấp chứng chỉ trình độ B1
                        Tiếng Anh. - Tổ chức các Lớp chuyên đề kỹ năng và cấp Giấy Chứng
                        nhận kỹ năng cho các bạn sinh viên hoàn thành khóa học.
                    </p>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-2">
                <div class="content-img">
                    <img width="100%" src="https://api.hutech.edu.vn/files/public/file-news-hutech-1/news/da1a5d0c1b168ea94f8039ed584ca596.jpg" alt="" />
                </div>
            </div>
            <div class="col-10">
                <div class="content-content">
                    <a href="">
                        LỚP TIẾNG ANH B1 VÀ LỚP CHUYÊN ĐỀ KỸ NĂNG DÀNH CHO NGUỒN "SINH
                        VIÊN 5 TỐT" 2019 - 2020
                    </a>
                    <p>
                        Tổ chức Lớp ôn tập, luyên Anh văn trình độ B1 dành cho sinh viên
                        đã đăng ký và phấn đấu đạt danh hiệu “Sinh viên 5 tốt” các cấp
                        (thời gian ôn tập 2 tuần, mỗi buổi 3 tiết, tổng cộng 18 tiết).
                        Tổ chức đánh giá bằng kỳ thi chứng chỉ Anh văn B1, các sinh viên
                        có kết quả đạt kỳ thi này sẽ được cấp chứng chỉ trình độ B1
                        Tiếng Anh. - Tổ chức các Lớp chuyên đề kỹ năng và cấp Giấy Chứng
                        nhận kỹ năng cho các bạn sinh viên hoàn thành khóa học.
                    </p>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-2">
                <div class="content-img">
                    <img width="100%" src="https://api.hutech.edu.vn/files/public/file-news-hutech-1/news/da1a5d0c1b168ea94f8039ed584ca596.jpg" alt="" />
                </div>
            </div>
            <div class="col-10">
                <div class="content-content">
                    <a href="">
                        LỚP TIẾNG ANH B1 VÀ LỚP CHUYÊN ĐỀ KỸ NĂNG DÀNH CHO NGUỒN "SINH
                        VIÊN 5 TỐT" 2019 - 2020
                    </a>
                    <p>
                        Tổ chức Lớp ôn tập, luyên Anh văn trình độ B1 dành cho sinh viên
                        đã đăng ký và phấn đấu đạt danh hiệu “Sinh viên 5 tốt” các cấp
                        (thời gian ôn tập 2 tuần, mỗi buổi 3 tiết, tổng cộng 18 tiết).
                        Tổ chức đánh giá bằng kỳ thi chứng chỉ Anh văn B1, các sinh viên
                        có kết quả đạt kỳ thi này sẽ được cấp chứng chỉ trình độ B1
                        Tiếng Anh. - Tổ chức các Lớp chuyên đề kỹ năng và cấp Giấy Chứng
                        nhận kỹ năng cho các bạn sinh viên hoàn thành khóa học.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Content Wrapper -->
    </div>

