
@{
    ViewBag.Title = "SVDangKy";
    Layout = "~/Views/Shared/_LayoutSVDN.cshtml";
}

    <div class="wrapper" style="margin: 55px 60px;">
        <div class="content">
            <div class="title">
                <div class="title" style="
              display: flex;
              justify-content: space-between;
              border-bottom: 0.5px dashed blue;
            ">
                    <h2>1. THÔNG TIN SINH VIÊN</h2>
                    <span style=" padding-left: 280px">sinh viên phải cập nhật thông tin cá nhân đầy đủ</span>
                </div>
                <div style="margin-top: 30px; margin-left: 40px" class="content-content">
                    <div class="row mb-5">
                        <div class="col-4">
                            <span>Mã số sinh viên: </span>
                        </div>
                        <div class="col-8">
                            <span>1611060055</span>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-left: 30px" class="row mb-5">
                <div class="col-4">
                    <span>Họ Tên: </span>
                </div>
                <div class="col-8">
                    <span>Nguyễn Quốc Bảo</span>
                </div>
            </div>
            <div style="margin-left: 30px" class="row mb-5">
                <div class="col-4">
                    <span>Lớp: </span>
                </div>
                <div class="col-8">
                    <span>16DTHA2</span>
                </div>
            </div>
            <div style="margin-left: 30px" class="row mb-5">
                <div class="col-4">
                    <span>Khoa/Viện: </span>
                </div>
                <div class="col-8">
                    <span>Khoa Công Nghệ Thông Tin</span>
                </div>
            </div>
            <div style="margin-left: 30px" class="row mb-5">
                <div class="col-4">
                    <span>Email: </span>
                </div>
                <div class="col-8">
                    <span></span>
                </div>
            </div>
            <div style="margin-left: 30px" class="row mb-5">
                <div class="col-4">
                    <span>Số điện thoại: </span>
                </div>
                <div class="col-8">
                    <span>0367851685</span>
                </div>
            </div>
            <div style="margin-left: 30px" class="row mb-5">
                <div class="col-4">
                    <span>Tham gia thực hiện SV5T lần thứ?: </span>
                </div>
                <div class="col-8">
                    <input type="text">
                </div>
            </div>
            <div style="margin-left: 30px" class="row mb-5">
                <div class="col-4">
                    <span>Đăng ký phấn đấu CẤP: </span>
                </div>
                <div class="col-8">
                    <label style="margin-right: 40px" class="radio-inline"><input type="radio" name="optradio" checked>Khoa/Viện</label>
                    <label style="margin-right: 40px" class="radio-inline"><input type="radio" name="optradio">Trường</label>
                    <label style="margin-right: 40px" class="radio-inline"><input type="radio" name="optradio">Thành</label>
                    <label style="margin-right: 40px" class="radio-inline"><input type="radio" name="optradio">Trung ương</label>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="title">
                <h5>ĐẠO ĐỨC TỐT <a href="#" style="text-decoration: none"> >> Gợi ý kế hoạch và tiêu chí cụ thể</a></h5>
            </div>
            <div class="content-content">
                <form style="margin-left:150px" class="form-inline">
                    <div class="form-group mb-2">
                        <label for="staticEmail2" class="sr-only">Email</label>
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Điểm Rèn luyện HK1">
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="inputPassword2" class="sr-only">Password</label>
                        <input type="text" class="form-control" id="inputPassword2" placeholder="VD: 90">
                    </div>
                </form>
                <form style="margin-left:150px" class="form-inline">
                    <div class="form-group mb-2">
                        <label for="staticEmail2" class="sr-only">Email</label>
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Điểm Rèn luyện HK2">
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="inputPassword2" class="sr-only">Password</label>
                        <input type="text" class="form-control" id="inputPassword2" placeholder="VD: 90">
                    </div>
                </form>
                <form style="margin-left:150px" class="form-inline">
                    <div class="form-group mb-2">
                        <label for="staticEmail2" class="sr-only">Email</label>
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Phân tích Chất lượng Đoàn viên">
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="inputPassword2" class="sr-only">Password</label>
                        <input type="text" class="form-control" id="inputPassword2" placeholder="NH: 2019-2020">
                    </div>
                </form>
                <form style="margin-left:150px" class="form-inline">
                    <div class="form-group mb-2">
                        <label for="staticEmail2" class="sr-only">Email</label>
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Đạt danh hiệu “Thanh niên tiên tiến làm theo lời Bác”">
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="inputPassword2" class="sr-only">Password</label>
                        <input type="checkbox">
                    </div>
                </form>
                <form style="margin-left:150px" class="form-inline">
                    <div class="form-group mb-2">
                        <label for="staticEmail2" class="sr-only">Email</label>
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Đã tham gia các Hội thi về tư tưởng Hồ Chí Minh">
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="inputPassword2" class="sr-only">Password</label>
                        <input type="text" class="form-control" id="inputPassword2" placeholder="">
                    </div>
                </form>
                <form style="margin-left:150px" class="form-inline">
                    <div class="form-group mb-2">
                        <label for="staticEmail2" class="sr-only">Email</label>
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Đã tham gia các Hội thi về tư tưởng Hồ Chí Minh">
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="inputPassword2" class="sr-only">Password</label>
                        <input type="text" class="form-control" id="inputPassword2" placeholder="">
                    </div>
                </form>
            </div>
        </div>
        <div class="content">
            <div class="title">
                <h5>THỂ LỰC TỐT <a href="#" style="text-decoration: none"> >> Gợi ý kế hoạch và tiêu chí cụ thể</a></h5>
            </div>
            <div class="content-content">
                <form style="margin-left:150px" class="form-inline">
                    <div class="form-group mb-2">
                        <label for="staticEmail2" class="sr-only">Email</label>
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Đạt danh hiệu sinh viên khỏe">
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="inputPassword2" class="sr-only">Password</label>
                        <input type="checkbox">
                    </div>
                </form>
                <form style="margin-left:150px" class="form-inline">
                    <div class="form-group mb-2">
                        <label for="staticEmail2" class="sr-only">Email</label>
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Đạt Giải trong Hội Thao các cấp">
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="inputPassword2" class="sr-only">Password</label>
                        <input type="text" class="form-control" id="inputPassword2" placeholder="thông tin rõ đã đạt giải hoặc tham gia">
                    </div>
                </form>
                <form style="margin-left:150px" class="form-inline">
                    <div class="form-group mb-2">
                        <label for="staticEmail2" class="sr-only">Email</label>
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Là Thành viên CLB - Đội - Nhóm TDTT">
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="inputPassword2" class="sr-only">Password</label>
                        <input type="text" class="form-control" id="inputPassword2" placeholder="thông tin vai trò clb - đội - nhóm">
                    </div>
                </form>
            </div>
        </div>
        <div style="margin: 50px 200px" class="button">
            <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Lưu</a>
            <a href="./hososinhvien.html" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Quay lại</a>
        </div>
    </div>

