
@{
    ViewBag.Title = "TaiLieuHT";
    Layout = "~/Views/Shared/_LayoutSVDN.cshtml";
}

    <div class="wrapper" style="margin:75px 35px">
        <span style="font-size: 30px; color: #3498db"><i class="fa fa-folder"></i></span>
        <span style="font-size: 30px">Tài Liệu giáo trình </span>
        <div>
            <div style="background-color: #e7e7e7;" class="row">
                <div class="col-12">
                    Học Kì 2 - 2019-2020
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <p>
                        1. [TH] Kiểm thử phần mềm (Nguyễn Đông Phương)
                        Từ 31/05/2020 đến 31/05/2020
                    </p>
                </div>
                <div class="cold-4">
                    <a href="https://sinhvien.hutech.edu.vn/#/sinhvien/hoc-lieu/list">Ấn để xem tài liệu</a>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <p>
                        2. [LT] Công cụ và môi trường phát triển phần mềm (Nguyễn Mạnh Hùng)
                        Từ 19/05/2020 đến 23/06/2020
                    </p>
                </div>
                <div class="cold-4">
                    <a href="">Ấn để xem tài liệu</a>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    3. [LT] Lập trình Java (Trịnh Công Nhựt)
                    Từ 22/05/2020 đến 26/06/2020
                </div>
                <div class="cold-4">
                    <a href="">Ấn để xem tài liệu</a>
                </div>
            </div>
            <div style="margin-top: 40px;" class="row">
                <div class="col-8">
                    4. [LT] Phát triển phần mềm mã nguồn mở (Nguyễn Đình Ánh)
                    Từ 21/05/2020 đến 25/06/2020
                </div>
                <div class="cold-4">
                    <a href="">Ấn để xem tài liệu</a>
                </div>
            </div>
        </div>
    </div>

