
@{
    ViewBag.Title = "TrangchuSV";
    Layout = "~/Views/Shared/_LayoutSVDN.cshtml";
}

<div class="wrapper" style="margin: 55px 60px; background-color:#e6c0f929; padding: 20px 40px">
    <div class="content">
        <div class="tittle-content">
            <h2 style="border-bottom: 0.5px dashed blue; padding-bottom: 10px"><i class="fa fa-pencil" aria-hidden="true"></i> Công việc cần làm :</h2>
            <div class="content-content">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                <a href="#" style="font-size: 20px; text-decoration: none">Khảo sát sinh viên</a>
                <ul>
                    <li><span style="font-size: 20px">Khảo sát sự hài lòng của sinh viên về khóa học NH 2019-2020 >> <a href="#">Đánh giá ngay</a></span></li>
                    <li><span style="font-size: 20px">Khảo sát sự hài lòng của sinh viên về đội ngũ nhân viên NH 2019-2020 >> <a href="#">Đánh giá ngay</a></span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="tittle-content">
            <h2 style="border-bottom: 0.5px dashed blue;padding-bottom: 10px"><i class="fa fa-bullhorn" aria-hidden="true"></i> Thông báo</h2>
            <div class="content-content">
                <a href="#" style="text-decoration: none">
                    <h3>ĐÁNH GIÁ KẾT QUẢ TRỰC TUYẾN HỌC KÌ 2 NĂM HỌC 2019-2020</h3>
                </a>
                <p>Ngày : 14/04/2020 08:00</p>
                <p>Thời gian đánh giá rèn luyện học kì 2 năm học 2019-2020: <a href="#" style="text-decoration: none"> Vui lòng mở để xem chi tiết</a> </p>
            </div>
        </div>
    </div>
</div>
<!-- End of Content Wrapper -->
    </div>

